<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= javascript_include_tag "turbo", type:"module" %>
    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

  </head>

  <body>
    <nav class="navbar bg-primary mb-3" data-bs-theme="dark">
        <div class="container">
            <a class="navbar-brand" href="/">eCommerce</a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex flex-row">
              <li class="nav-item me-3">
              <a class="nav-link" href="/products">Produtos</a>
              </li>
              <li class="nav-item me-3">
                <a class="nav-link" href="<%= cart_path %>">Carrinho</a>
              </li>
            </ul>
            <p class="navbar-text ms-auto">
            <% if user_signed_in? %>
              Logged in as <strong><%= current_user.email %></strong>.
              <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
              <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link' %>
            <% else %>
              <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link' %> |
              <%= link_to "Login", new_user_session_path, :class => 'navbar-link' %>
            <% end %>
          </p>
        </div>
    </nav>
    <% if notice %>
      <div class="alert alert-success" role="alert">
      <%= notice %>
      </div>
    <% end %>
    <% if alert %>
      <div class="alert alert-danger" role="alert">
      <%= alert %>
      </div>
    <% end %>

    <div class="container mt-3">
      <%= yield %>
    </div>
  </body>
</html>
